@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
    font-family: 'Karla', sans-serif;
}

/* Main Section */

main {
    background-color: #F5F5F5;
    height: fit-content;
    max-width: 800px;
    border-radius: 5px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
    justify-content: center;

    position: relative;
}

.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}

/* Dice Container - First Child of Main section */

.die-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
    gap: 20px;
}

.die-face-1-dot {
    background-color: #FFFFFF;
    box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    width: 35.84px;
    aspect-ratio: 1/1;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    
    cursor: pointer;
}

.die-face {
    background-color: #FFFFFF;
    box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    width: 35.84px;
    aspect-ratio: 1/1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    
    cursor: pointer;
}

.die-num {
    font-weight: 700;
    font-size: 1.2rem;
}

/* Dot */

.dot {
    width: 5px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: black;
}

/* Button - Second Child of Main section */

main button {
    background-color: #5035FF;
    color: white;

    padding: .8rem 2.5rem;
    border-radius: 5px;

    cursor: pointer;
}

/* Game History Section */

.game-history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: .7rem;
}

.game-history .timer {
    position: absolute;
    top: 10px;
    right: 10px;
}